/* styles.css */

.thin-scrollbar::-webkit-scrollbar {
    width: 4px; /* Width of the scrollbar */
}


.thin-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the scrollbar track */
}

.thin-scrollbar::-webkit-scrollbar-thumb {
    background: #888; /* Background of the scrollbar thumb */
    border-radius: 10px; /* Roundness of the scrollbar thumb */
}

.thin-scrollbar::-webkit-scrollbar-thumb:hover {
    width: 8px; 
    background: #555; /* Color when hovering over the scrollbar thumb */
}

  